{{- if eq .Values.global.valkeyLocation "on-cluster" }}
apiVersion: v1
kind: Secret
metadata:
  name: valkey-creds
  labels:
    app: drycc-valkey
    heritage: drycc
data:
  password: {{ include "common.secrets.lookup" (dict "secret" "valkey-creds" "key" "password" "defaultValue" (randAlphaNum 32) "context" $) }}
{{- end }}
