{{- if eq .Values.global.valkeyLocation "on-cluster" }}
apiVersion: v1
kind: Service
metadata:
  name: drycc-valkey
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    heritage: drycc
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
  - name: server
    port: 6379
    targetPort: 6379
    protocol: TCP
  - name: sentinel
    port: 26379
    targetPort: 26379
    protocol: TCP
  selector:
    app: drycc-valkey
{{- end }}
